body{
}
.flex-container{
    display: flex;
    width: 1000px;
    height: 100px;
    background-color:purple;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto; display: flex;
}
.flex-front-end-quiz1{
    font-size: 60px;
    font-style: italic;
}